@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

*{
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}
.red{
    background-color: #F44336;
}
.blue{
    background-color: #2196F3;
}
.green{
    background-color:#4CAF50;
}
.gray{
    background-color: #9E9E9E;
}
.container{
    padding:0 5% 0 5%;
}
.main-nav{
    display:flex;
    list-style-type: none;
    background-color: #F2F2F2; 
}
.main-nav li{
    padding:.5em;
    
}
.main-nav li a{
    font-size:.8em;
    color: #4F4F4F;
}
a{
    text-decoration: none;  
}
.logo{
    margin-right:auto;
}
.cover{
    height: 97vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    background: url("img/hero-01.svg") no-repeat center;
    background-size:cover;
    text-align:center;
}
.headline{
    font-size: 2.25em;
    margin-bottom:.25em;
}
.cta{
    margin-top:2em;
    padding:1em 2em 1em 2em;
    background:transparent;
    border:2px solid white;
    border-radius:3px;
    color:white;
    cursor: pointer;
}
.grid-header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding:4em 5% 4em 5%;
    color:#4F4F4F;
    background-color: #F2F2F2;
}
h2{
    margin:0 0 1em 0;
    letter-spacing:2px;
}
.box{
    padding:2em;
    transition: .5s all;
}
.box:hover{
    transform: Scale(1.1);
}
.box img{
    width:100%;
}
.grid-wrapper{
    display:grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
}
footer{
    background-color: #333333;
    color:#828282;
    text-align:center;
    padding:2em;
    font-size:.75em;
}
